html, body{
 
    height:100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #f1ede4;
}
p{
    color: rgb(30, 30, 30);
    font-size: 1em;;
}
.centred{
    text-align: center;
}
.vis-container {
    background-color: #f1ede4;
    display: grid;
    /* 1 column 800px wide */
    grid-template-columns: 1000px;  
    /* 1 row  for title and */
    /* 3 rows for content 500px tall */
    grid-template-rows: 200px 300px 480px 500px 500px;
    /* 10px gap between grid items */
    gap: 10px;
}

#mayday-title{
    font-family:"Saira Stencil One", sans-serif;
    font-size: 4.8em;
    font-weight: normal;
    color: #324e66;
    margin-bottom: 0;
}
.subtitle{
    font-family: "Roboto", sans-serif;
    margin-top: -10px;
    font-size: 1.8em;
    color: #5f7b93;
}
.heading{
    font-family: "Roboto", sans-serif;
    margin-top: -10px;
    font-size: 1.4em;
    color: #5f7b93;
}
.two-columns{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
}
.three-rows{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}
.col-1-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.row2-inside-row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
.emphasis{
    color: #5f7b93;
    font-weight: bold;
}
#transport_safety_bar{
    width: 100%;
}
#bar_container{
    width: 100%;
}
#aus_crash_map{
    margin-left:-90px;
    margin-top: -40px;
}
.row-icon{
    width: 150px;
}
.vega-tooltip {
    text-align: left !important; /* Force text to be aligned to the left */
  }
.hover-animation:hover {
    /* increase size on hover */
    transform: scale(1.2)
  }
#radial-graph-container{
display: flex;
  justify-content: center;  /* Centers the inner div horizontally */  
}
#ww2-spiel{
    padding-left: 40px;
    padding-right: 30px;
}
#radial-paragraph{
    padding-right: 30px;
}